<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>ngMadLibs</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Neuton' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="ctrl">
		<header>
			<div class="col-1">
				<img src="mad-lib-happy-face.png" id="smiley-face">
			</div>
			<div class="col-2">
				<img src="ng-mad-libs-logo.png" id="logo">
				<h1>Automate This!</h1>
			</div>
			<div style="clear:both"></div>
		</header>
		<div class="error-msgs" ng-if="wordForm.$submitted && wordForm.$invalid" ng-messages="wordForm.$error">
				<div ng-if="wordForm.$error.required" ng-repeat="err in wordForm.$error.required">
					<div>
						Please fill out the {{err.$name}} field.
					</div>
				</div>
				<div ng-message="min">
					Please enter a number greater than 100.
				</div>
		</div>
		<section class="word-bank-container" ng-show="hide">
			<form name="wordForm" class="inner" ng-submit="submit(wordForm)" novalidate>
				<div class="inner2">
					<h2>Select a gender:</h2>
					<input type="radio" name="gender" value="male" ng-model="gender" ng-change="newVal()"/>Male
					<input type="radio" name="gender" value="female" ng-model="gender" ng-change="newVal()"/>Female
				</div>
				<div class="inner2">
					<h2>Provide the following words:</h2>
					<div>
						<input type="text" ng-model="wordBank.name" name="name" placeholder="Name" required/>
						<input type="text" ng-model="wordBank.jobTitle" name="job title" placeholder="job title" required/>
						<input type="text" ng-model="wordBank.tediousTask" name="tedious task" placeholder="tedious task" required/>
					</div>
					<div>
						<input type="text" ng-model="wordBank.dirtyTask" name="dirty task" placeholder="dirty task" required/>
						<input type="text" ng-model="wordBank.celebrity" name="celebrity" placeholder="celebrity" required/>
						<input type="text" ng-model="wordBank.uselessSkill" name="useless skill" placeholder="useless skill" required/>
					</div>
					<div>
						<input type="text" ng-model="wordBank.obnoxiousCeleb" name="obnoxious celebrity" placeholder="obnoxious celebrity" required/>
						<input type="number" ng-model="wordBank.hugeNum" name="huge number" placeholder="huge number" min="100" required/>
						<input type="text" ng-model="wordBank.adjective" name="adjective" placeholder="adjective" required/>
					</div>
					<button>Generate My Mad Lib</button>
				</form>
				
			</div>
		</section>
		<section class="story-container" ng-hide="hide">
			<div class="inner">
				<span class="word">{{wordBank.name}}</span> was a <span class="word">{{wordBank.jobTitle}}</span> who loved technology. Although {{pronouns.p1}} loved parts of {{pronoun3}} job, {{pronouns.p1}} absolutely hated <span class="word">{{wordBank.tediousTask}}</span> and <span class="word">{{wordBank.dirtyTask}}</span>. So, <span class="word">{{wordBank.name}}</span> met with {{pronouns.p2}} life mentor <span class="word">{{wordBank.celebrity}}</span> who told {{pronouns.p3}} to learn how to <span class="word">{{wordBank.uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course on <span class="word">{{wordBank.uselessSkill}}</span> so {{pronouns.p1}} studied programming instead.
				</br>
				</br>
				What a great decision! With {{pronouns.p2}} new skills, <span class="word">{{wordBank.name}}</span> built a(n) <span class="word">{{wordBank.adjective}}</span> robot named <span class="word">{{wordBank.obnoxiousCeleb}}</span> that not only loved <span class="word">{{wordBank.dirtyTask}}</span> but did it <span class="word">{{wordBank.hugeNum}}</span> times faster.
			</div>
		</section>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-animate.js"></script>
	<script type="text/javascript" src="script.js"></script>
	
</body>
</html>