<!DOCTYPE html>
<html ng-app="">
<head>
	<title>ngMadLibs</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
</head>
<body>
		<header>
			<div class="col-1">
				<img src="mad-lib-happy-face.png" id="smiley-face">
			</div>
			<div class="col-2">
				<img src="ng-mad-libs-logo.png" id="logo">
				<h1>Automate This!</h1>
			</div>
			<div style="clear:both"></div>
		</header>
		<section class="word-bank-container">
			<div class="inner">
				<h2>Provide the following words:</h2>
				<div>
					<input type="text" ng-model="name"/ ng-init="name='male name'">
					<input type="text" ng-model="job_title"/ ng-init="job_title='job title'">
					<input type="text" ng-model="tedious_task" ng-init="tedious_task='tedious task'"/>
				</div>
				<div>
					<input type="text" ng-model="dirty_task" ng-init="dirty_task='dirty task'"/>
					<input type="text" ng-model="celebrity" ng-init="celebrity='celebrity'"/>
					<input type="text" ng-model="useless_skill" ng-init="useless_skill='useless skill'"/>
				</div>
				<div>
					<input type="text" ng-model="obnoxious_celeb" ng-init="obnoxious_celeb='obnoxious celebrity'"/>
					<input type="text" ng-model="huge_num" ng-init="huge_num='huge number'"/>
					<input type="text" ng-model="adjective" ng-init="adjective='adjective'"/>
				</div>
			</div>
			
		</section>
		<section class="story-container">
			<div class="inner">
				<span class="word">{{name}}</span> was a <span class="word">{{job_title}}</span> who loved technology. Although he loved parts of his job, he absolutely hated <span class="word">{{tedious_task}}</span> and <span class="word">{{dirty_task}}</span>. So, <span class="word">{{name}}</span> met with his life mentor <span class="word">{{celebrity}}</span> who told him to learn how to <span class="word">{{useless_skill}}</span> with Thinkful. Thinkful didn't offer a course on {{useless_skill}} so he studied programming instead.
				</br>
				</br>
				What a great decision! With his new skills, <span class="word">{{name}}</span> built a(n) <span class="word">{{adjective}}</span> robot named <span class="word">{{obnoxious_celebrity}}</span> that not only loved <span class="word">{{dirty_task}}</span> but did it <span class="word">{{huge_num}}</span> faster.
			</div>
		</section>
	
	
</body>
</html>