body {
	font-family: 'Neuton','Courier New', 'Cal­isto MT', sans-serif;,'Garamond';
}

header {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid #bdc3c7;
}

h1 {
	font-family: 'Arvo', sans-serif;
	font-size: 60px;
}

h2 {
	margin: 0;
}

input {
	margin: 5px;
}

button {
	margin: 20px 0;
	padding: 15px;
}

[class*='col-'] {
	float: left;
	height: 200px;
/*	border: 1px solid black;*/
}

.inner2 {
	margin-bottom: 20px;
}

.col-1 {
	width: 32.33%;
	border-right: 1px solid #bdc3c7;
}

.col-2 {
	width: 66.66%;
}

#logo {
	height: 40%;
}

.story-container, .word-bank-container {
	border: 1px solid #bdc3c7;
	border-top: none;
}

.story-container {
	width: 90%;
	margin: 0 auto;
	font-size: 24px;
}

.inner {
	padding: 50px;
}

.word-bank-container {
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

.word {
	border-bottom: 1px solid black;
}

.error-msgs {
	position: absolute;
	background-color: #ffecec;
	border-radius: 8px;
	padding: 10px 10px 10px 36px;
	border: 1px solid #e74c3c;
	margin: 0 auto;
	top: 5%;
	left: 0;
	right: 0;
	width: 250px;
}